@import "../../css/main.css";

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    z-index: 1;
    @media (--device-sm){
        position: static;
    }
    &.black {
        background: #000;
    }
}
.inner{
    padding: 0 50px;
    @media (--device-sm){
        padding: 0 20px;
    }
}
.logo{
    margin: 0;
    position: relative;
    display: inline-block;
    
    /*&:hover{
        &:before{
            transform: rotate(120deg);
        }
    }*/
    & a {
        color: #000;
        &:hover,
        &:visited{
            color: #000;
        }
    }
    & span {
        @apply --font-russo-one;
        font-weight: 400;
        position: relative;
        display: block;
        background: #fff;
        font-size: 26px;
        line-height: 25px;
        margin-top: 17px;
        padding: 0 0 3px;
        @media (--device-xs) {
            margin-top: 12px;
            font-size: 19px;
            line-height: 21px;
            padding: 0;
        }
    }
    & svg {
        position: absolute;
        width: 60px;
        height: 55px;
        top: 0;
        left: 26px;
        @media (--device-xs) {
            width: 45px;
            height: 45px;
            left: 18px;
        }
    }
}
.logo_black {
    &:before{
        path{
            fill: #fff;
        }
    }
    & a {
        color: #fff;
        &:hover,
        &:visited{
            color: #fff;
        }
    }
    & span {
        background: #000;
    }
}
.header_col{
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
    @media (--device-xs) {
        height: 45px;
        line-height: 45px;
    }
}
.socials {
    display: inline-block;
}
.social_link{
    border-bottom: none;
    display: inline-block;
    vertical-align: middle;
    & + .social_link{
        margin-left: 15px;
    }
}
.social_icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    @media (--device-xs) {
        font-size: 20px;
        line-height: 20px;
    }
    &.facebook {
        color: #3b5998;
        &.black {
           color: #fff;
        }
    }
    &.github {
        color: #000;
        &.black {
            color: #fff;
        }
    }
}

.langs{
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    width: 40px;
    @media (--device-xs) {
        margin-left: 5px;
    }
    & button {
        font-size: 15px;
        background: none;
        border: none;
        text-transform: uppercase;
        @apply --font-russo-one;
        &:focus{
            outline: none;
        }
        @media (--device-xs) {
            font-size: 15px;
        }
        &.black{
            color: #fff;
        }
    }
}