Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_php5.c>
  php_value display_errors 0
  php_value mbstring.internal_encoding UTF-8
  php_value opcache.revalidate_freq 0
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
  ExpiresByType image/png "access plus 3 day"
  ExpiresByType text/css "access plus 3 day"
  ExpiresByType application/javascript "access plus 3 day"  
</IfModule>