@import "../../css/main.css";

.partners{
    position: absolute;
    bottom: var(--footer_height);
    width: 98%;
    padding-bottom: 15px;
    left: 2%;
    @media (--device-xs){
        text-align: left;
        position: static;
        margin-top: 40px;
    }
}

.partner-logo{
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px 0;
    @media (--device-xs){
        padding: 0 10px;
        width: 50%;
        height: 50px;
        line-height: 50px;
        text-align: center;
    }
    @media (--device-sm){
        padding: 10px 15px 0;
    }
}
.articul{
    width: 140px;
    @media (--device-xs){
        width: 115px;
    }
    @media (--device-sm){
        width: 105px;
    }
}
.cpeople{
    width: 170px;
    @media (--device-xs){
        width: 125px;
    }
    @media (--device-sm){
        width: 115px;
    }
}
.nota{
    width: 170px;
    @media (--device-xs){
        width: 125px;
    }
    @media (--device-sm){
        width: 115px;
    }
}
.yota{
    width: 35px;
    @media (--device-sm){
        width: 30px;
    }
}
.npfsb{
    width: 170px;
    @media (--device-xs){
        width: 125px;
    }
    @media (--device-sm){
        width: 115px;
    }
}
.zephyr{
    width: 35px;
    @media (--device-sm){
        width: 30px;
    }
}