@import "../../css/main.css";

.partners{
    position: absolute;
    bottom: var(--footer_height);
    width: 98%;
    margin-bottom: 50px;
    left: 2%;
    @media (--device-xs){
        text-align: left;
        position: static;
        margin-bottom: 10px;
    }
}

.partners-title {
    font-size: 19px;
    margin-bottom: 10px;
    @media (--device-xs){
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
    }
}

.partners-list {
    display: flex;
    justify-content: center;
    @media (--device-xs){
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.partner-logo{
    padding: 10px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (--device-xs){
        padding: 0;
        width: 33.3%;
        height: 50px;
        line-height: 50px;
        text-align: center;
    }
    @media (--device-sm){
        padding: 10px 15px 0;
    }
}
.articul{
    width: 140px;
    @media (--device-xs){
        width: 70px;
    }
    @media (--device-sm){
        width: 105px;
    }
}
.cpeople{
    width: 170px;
    @media (--device-xs){
        width: 100px;
    }
    @media (--device-sm){
        width: 115px;
    }
}
.nota{
    width: 170px;
    @media (--device-xs){
        width: 80px;
    }
    @media (--device-sm){
        width: 115px;
    }
}
.yota{
    width: 35px;
    @media (--device-xs){
        width: 25px;
    }
    @media (--device-sm){
        width: 30px;
    }
}
.npfsb{
    width: 170px;
    @media (--device-xs){
        width: 100px;
    }
    @media (--device-sm){
        width: 115px;
    }
}
.zephyr{
    width: 35px;
    @media (--device-xs){
        width: 25px;
    }
    @media (--device-sm){
        width: 30px;
    }
}