@import 'settings.css';
@import 'helpers.css';
/*
@import 'common/layout';
@import 'common/typography';
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|Russo+One&subset=latin,cyrillic);


html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 0 0 var(--footer_height);
    overflow: hidden;
    &.no-animation{
        overflow: auto;
    }
    height: 100vh;
    @media (--device-xs){
        font-size: 14px;
        padding-bottom: var(--footer_height_xs);
    }
    & > div {
        height: 100%;
    }
}
a {
    border-bottom: 1px solid;
    color: var(--corporate-color);
    transition: all 0.3s ease-in-out;
    &:hover{    
        outline: none;
        text-decoration: none;
        border-bottom-color: transparent;
        opacity: 0.8;
        color: var(--corporate-color);
    }
    &:active,
    &:visited,
    &:focus{
        text-decoration: none;
        outline: none;
    }
}
iframe {
    border: none;
}
h1{
    font-weight: 400;
    display: inline-block;
    line-height: 35px;
    margin: 0 0 18px;
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: 1px;
    @apply --font-russo-one;
    @media (--device-xs) {
        font-size: 28px;
    }

}
h3{
    font-size: 19px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
    @media (--device-xs){
        font-size: 16px;
        line-height: 24px;
    }
}

/* Layout */
.layout{
    height: 100%;
    display: flex;
    @media (--device-xs) {
        justify-content: space-between;
        flex-direction: column;
    }
}
.content{
    width: 100%;
    top: 100%;    
    position: absolute;
}

.slide{
    width: 100%;
    overflow: hidden;
    &_hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: center;
        @media (--device-xs){
            padding: 0 2%;
            flex: 1;
            justify-content: space-between;
        }
    }
    &_hero_black{
        background: #000;
    }
}
.zoom-in-link {
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.2);
        opacity: 1;
    }
}