:root{
    --corporate-color: #f70236;
    --corporate-color2: #607d8b;
    --footer_height: 37px;
    --font-russo-one{
        font-family: 'Russo One', sans-serif;
    }
    --corporate-color{
        color: var(--corporate-color);
    }
}

@custom-media --mobile (max-width: 426px);
@custom-media --mobile-wide (max-width: 770px);