:root{
    --corporate-color: #f70236;
    --corporate-color2: #607d8b;
    --footer_height: 36px;
    --footer_height_xs: 56px;
    --font-russo-one {
        font-family: 'Russo One', sans-serif;
    }
    --corporate-color {
        color: var(--corporate-color);
    }
}

@custom-media --device-xs (max-width: 767px);
@custom-media --device-sm (min-width: 768px) and (max-width: 991px);
@custom-media --device-md (min-width: 992px) and (max-width: 1119px);