/**
 *  Vars
 */
@footer_height: 37px;
@mobile: ~"(max-width: 425px)";
/**
 *  Globals
 */
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 @footer_height;
    overflow: hidden;
    &.no-animation{
        overflow: auto;
    }
    @media @mobile{
        font-size: 14px;
        min-height: 500px;
    }
}
a {
    border-bottom: 1px solid;
    &:hover{    
        outline: none;
        text-decoration: none;
        border-bottom: none;
    }
    &:active,
    &:visited,
    &:focus{
        text-decoration: none;
        outline: none;
    }
}

.font-russo-one{
    font-family: 'Russo One', sans-serif;
}

/**
 *  Bootsrtap customs
 */
.valign-middle{
    white-space: nowrap;
    &:before{
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;    
    }
}
.valign-undo{
    white-space: normal;
    &:before{
        display: none;
    }
}
/**
 *  Layout
 */
.layout{
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
    z-index: 1;
    @media @mobile{
        position: static;
        margin: 30px 0 0;
    }
}
.header__inner{
    padding: 0 50px;
    @media @mobile{
        padding: 0 10px;
    }
}
.header__logo{
    .font-russo-one();
    font-size: 26px;
    font-weight: 400;
    margin: 0;
    line-height: 35px;
    @media @mobile{
        font-size: 19px;
        text-align: center;
    }
}
.header__social{
    font-size: 25px;
    color: #3b5998;
    border-bottom: none;
    &:hover{
        color: #627aac;
    }
}
.footer{
    background: #000;
    color: #8C8C8C;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: @footer_height;
    height: @footer_height;
}
.content{
    width: 100%;
    top: 100%;    
    position: absolute;
}
/**
 *  Slide
 */
.slide{
    width: 100%;
    overflow: hidden;
}
.slide_hero{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    .valign-middle();
    text-align: center;
    @media @mobile{
        position: static;
        .valign-undo();
        height: auto;
    }
}
/**
 *  Hero slide
 */
.hero{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    white-space: normal;
    min-width: 100%;
}
.hero__title{
    font-size: 48px;
    font-weight: 400;
    display: inline-block;
    line-height: 35px;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: 1px;
    .font-russo-one();
    @media @mobile{
        font-size: 28px;
        margin-top: 20px;
    }

}
.hero__subtitle{
    font-size: 19px;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    @media @mobile{
        font-size: 17px;
    }
}
.hero__hr{
    width: 250px;
    border-top: 2px solid black;
    margin: 25px auto;
    text-transform: uppercase;
    @media @mobile{
        margin: 15px auto;
    }
}
/**
 * About section
 */
.about{
    margin-top: 50px;
    max-width: 1000px;
    @media @mobile{
        margin: 30px 0 20px;
    }
 }
.about__item{
    padding: 0 30px;
    @media @mobile{
        padding: 0;
        margin: 0 0 15px;
    }
}
.about__digit{
    font-size: 72px;
    font-weight: 700;
    @media @mobile{
        font-size: 36px;
        display: inline-block;
        vertical-align: middle;
        width: 30%;
    }
}
.about__text{
    @media @mobile{
        display: inline-block;
        vertical-align: middle;
        width: 70%;
        text-align: left;
    }
}