/**
 *  Globals & vars
 */
body {
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
}
@h1: 32px;
@h2: 25px;
@slide_padding: 50px;
@slide_hr_padding: 30px;
@hover_effect: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
@light_grey: #F3F3F3;
@grey: #D4D4D4;
@almost_black: #3E3E3E;

/**
 *  Bootsrtap customs
 */
.valign-middle{
    white-space: nowrap;
    &:before{
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;    
    }
}
.btn-custom{
    .button-size(5px; 20px; 19px; 30px; 35px);
    .transition(@hover_effect);
    background-color: white;
    border-color: @grey;
    color: @almost_black;
    position: relative;
    &:hover{
        color: black;
    }
    &:focus,
    &:active,
    &:hover{
        outline:0;
        -webkit-appearance:none;
    }
}
.form-control-big{
    .input-size(50px; 10px; 20px; 19px; 30px; 10px);
    font-weight: 400;
}
.cursor-progress {
  cursor:progress;
}
/**
 *  Layout
 */
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 10px 0;
    border-bottom: 1px solid #EFEFEF;
    text-align: center;
    z-index: 1;
}
.header_menu > li{
    padding: 0 10px;
}
.header_menu__link{
    color: #000 !important;
    font-weight: 400;
    .transition(@hover_effect);
    text-decoration: none !important;
    &:hover{
        color: #A9A9A9 !important;    
    }
}
.header_lang{
    position: absolute;
    right: 20px;
    top: 0;
}
.footer{
    background: #000;
    color: #8C8C8C;
    font-size: 12px;
    padding: 10px 0;
    font-weight: 400;
}
.content{
    width: 100%;
    top: 100%;    
    position: absolute;
}
/**
 *  Slide
 */
.slide{
    width: 100%;
    padding: @slide_padding 0;
}
.slide hr{
    width: 150px;
    border-top: 2px solid black;
    margin: @slide_hr_padding auto;
}
.slide_hero{
    position: absolute;
    left: 0;
    overflow: hidden;
    top: 0;
    height: 100%;
    padding: 0;
}
.slide_portfolio{
    background: @light_grey;
    position: relative;
    overflow: hidden;
}
.slide_partners{
    background: @grey;
    //background: @light_grey;
    overflow: hidden;
}
.slide_services{
    background: @light_grey;
    p{
        margin-bottom: 30px;
    }
}
.slide__title{
    margin-top: 0;
    font-size: @h1;
    text-transform: uppercase;
}
.slide__desc{
    font-size: 19px;
    font-weight: 300;
    margin-bottom: @slide_hr_padding;
}
/**
 *  Hero slide
 */
.hero{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.hero__title{
    font-size: 140px;
    font-weight: 900;
    display: inline-block;
    margin: 0;
    letter-spacing: -5px;
    margin-right: 15px;
    text-transform: uppercase;
}
.hero__title_smaller{
    font-size: 30px;
    display: inline-block;
    margin: 0 0 0 -20px;
}
.hero__subtitle{
    font-size: 19px;
    margin: 0;
    font-weight: 300;
}
.hero__divider hr{
    width: 250px;
    border-top: 2px solid black;
    margin: @slide_hr_padding auto @slide_padding;
    text-transform: uppercase;
}
/**
 *  Portfolio slide
 */
.portfolio_list{
    //margin-bottom: 20px;
}
.portfolio_list__row{
    .make-row();
}
.portfolio_list__item{
    .make-md-column(4);
}
.portfolio_list__item__image{
    max-width: 100%;
    .box-shadow(0 9px 10px -7px rgba(0,0,0,0.8));
    margin-bottom: 20px;
}
.portfolio_menu{
    margin: 48px 0 @slide_hr_padding;
    font-size: 16px;
    font-weight: 400;
}
.portfolio_menu__link{
    color: #000;
    text-decoration: none;
    .transition(@hover_effect);
    &:hover{
        color: #A9A9A9;
        text-decoration: none;
    }
}
.portfolio_menu__link_current{
    color: #A9A9A9;
}
/**
 *  Contacts slide
 */
.contacts_form{
    width: 500px;
    margin: @slide_hr_padding auto 0;
    text-align: left;
}
/**
 *  Tech slide
 */
.technology_item{
    display: inline-block;
}
/**
 *  Partners slide
 */
.partners_side{
    display: inline-block;
    font-size: @h2;
    vertical-align: middle;
}
.partners_list{
    display: inline-block;
    margin-top: @slide_hr_padding;
    vertical-align: middle;
}
.partner_item{
    display: inline-block;
    margin: 0 40px;
}
.partner_item__name{
    display: inline-block;
    margin-top: 10px;
    color: black;
    text-decoration: none;
}
