// general
$font-roboto: 'Roboto', Helvetica, Arial, sans-serif;
$font-russo-one: 'Russo One', sans-serif;

// responsive
$screen-xs-only: 'screen and (max-width: 767px)';
$screen-sm-only: 'screen and (min-width: 768px) and (max-width: 991px)';
$screen-sm-min: 'screen and (min-width: 768px)';
$screen-sm-max: 'screen and (max-width: 991px)';
$screen-md-only: 'screen and (min-width: 992px) and (max-width: 1119px)';
$screen-md-min: 'screen and (min-width: 992px)';

// colors
$team-pink-color: #f70236;
$team-navy-color: #607d8b;
$grey-color: #8C8C8C;


// sizes
$footer-height: 36px;
$footer-height-xs: 56px;