/**
 *  Vars
 */
/**
 *  Globals
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 37px;
  overflow: hidden;
}
body.no-animation {
  overflow: auto;
}
@media (max-width: 425px) {
  body {
    font-size: 14px;
    min-height: 500px;
  }
}
a {
  border-bottom: 1px solid;
  color: #f70236;
  transition: all 0.3s ease-in-out;
}
a:hover {
  outline: none;
  text-decoration: none;
  border-bottom-color: transparent;
  opacity: 0.8;
  color: #f70236;
}
a:active,
a:visited,
a:focus {
  text-decoration: none;
  outline: none;
}
.font-russo-one {
  font-family: 'Russo One', sans-serif;
}
.corporate-color {
  color: #f70236;
}
/**
 *  Bootsrtap customs
 */
.valign-middle {
  white-space: nowrap;
}
.valign-middle:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.valign-undo {
  white-space: normal;
}
.valign-undo:before {
  display: none;
}
/**
 *  Layout
 */
.layout {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 700px) {
  .header {
    position: static;
  }
}
.header__inner {
  padding: 0 50px;
}
@media (max-width: 700px) {
  .header__inner {
    padding: 0 20px;
  }
}
.header__logo {
  font-family: 'Russo One', sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin: 0;
  height: 60px;
}
@media (max-width: 425px) {
  .header__logo {
    font-size: 19px;
  }
}
.header__logo a {
  color: #000;
}
.header__logo:before {
  content: "";
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzOC4zOSAzMy4yOSI+CiAgPHBhdGggZD0iTTEzLjgyLDE5LjA5TDE5LjEzLDEuN2w1LjM4LDE3LjM3TDM2LjkyLDMyLjM2bC0xNy43My00TDEuNDcsMzIuNDRaIiBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSIjZjcwMjM2IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiLz4KPC9zdmc+Cg==) no-repeat;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 40px;
  color: #f70236;
}
.header__logo span {
  position: relative;
  display: block;
  background: #fff;
  line-height: 25px;
  margin-top: 17px;
}
.header__social {
  font-size: 25px;
  border-bottom: none;
  margin-top: 17px;
  display: inline-block;
}
.header__social:hover {
  color: #627aac;
}
.header__social .icons_facebook {
  position: relative;
  width: 27px;
  height: 27px;
  overflow: hidden;
  display: inline-block;
  color: #fff;
  transition: opacity 0.3s ease-in-out;
}
.header__social .icons_facebook:hover {
  opacity: 0.8;
}
.header__social .icons_facebook:before {
  z-index: 1;
  position: absolute;
  right: 5px;
  top: 5px;
  text-align: right;
}
.header__social .icons_facebook:after {
  content: "";
  background: #3b5998;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer {
  background: #000;
  color: #8C8C8C;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 37px;
  height: 37px;
}
.content {
  width: 100%;
  top: 100%;
  position: absolute;
}
/**
 *  Slide
 */
.slide {
  width: 100%;
  overflow: hidden;
}
.slide_hero {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  white-space: nowrap;
  text-align: center;
}
.slide_hero:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
@media (max-width: 700px) {
  .slide_hero {
    position: static;
    white-space: normal;
    height: auto;
  }
  .slide_hero:before {
    display: none;
  }
}
/**
 *  Hero slide
 */
.hero {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  white-space: normal;
  min-width: 100%;
}
.hero__title {
  font-size: 48px;
  font-weight: 400;
  display: inline-block;
  line-height: 35px;
  margin: 0 0 18px;
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: 1px;
  font-family: 'Russo One', sans-serif;
}
@media (max-width: 700px) {
  .hero__title {
    font-size: 28px;
    margin: 10px 0;
  }
}
.hero__title_404 {
  color: #607d8b;
}
.hero__subtitle {
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}
@media (max-width: 700px) {
  .hero__subtitle {
    font-size: 17px;
  }
}
.hero__hr {
  width: 250px;
  border-top: 2px solid black;
  margin: 25px auto;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  .hero__hr {
    border-top: 1px solid black;
    margin: 15px auto;
  }
}
/**
 * About section
 */
.about {
  margin-top: 50px;
  max-width: 1000px;
  padding: 0 20px;
}
@media (max-width: 700px) {
  .about {
    margin: 30px 0;
  }
}
.about__item {
  padding: 0 30px;
}
@media (max-width: 700px) {
  .about__item {
    padding: 0;
    margin: 0 0 15px;
  }
}
.about__digit {
  font-size: 72px;
  font-weight: 700;
  color: #607d8b;
}
@media (max-width: 700px) {
  .about__digit {
    font-size: 36px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    margin-right: 20px;
    width: 100px;
  }
}
@media (max-width: 425px) {
  .about__digit {
    width: 50px;
  }
}
@media (max-width: 700px) {
  .about__text {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 300px;
  }
}
@media (max-width: 425px) {
  .about__text {
    width: 200px;
  }
}
.animate {
  opacity: 0;
  animation-duration: 0.6s;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.no-animation .animate {
  opacity: 1;
}
.start-animation {
  opacity: 1;
}
.start-animation.top-to-bottom {
  animation-name: top_to_bottom;
}
.start-animation.bottom-to-top {
  animation-name: bottom_to_top;
}
.start-animation.left-to-right {
  animation-name: left_to_right;
}
.start-animation.right-to-left {
  animation-name: right_to_left;
}
.start-animation.zoom-in {
  animation-name: zoom_in;
  -ms-transform: scale(1);
      transform: scale(1);
}
.start-animation.zoom-out {
  animation-name: zoom_out;
  -ms-transform: scale(1);
      transform: scale(1);
}
.start-animation.alpha-anim {
  animation-name: alpha_in;
}
.animate[data-duration="100"] {
  animation-duration: 0.1s;
}
.animate[data-duration="200"] {
  animation-duration: 0.2s;
}
.animate[data-duration="300"] {
  animation-duration: 0.3s;
}
.animate[data-duration="400"] {
  animation-duration: 0.4s;
}
.animate[data-duration="500"] {
  animation-duration: 0.5s;
}
.animate[data-duration="600"] {
  animation-duration: 0.6s;
}
.animate[data-duration="700"] {
  animation-duration: 0.7s;
}
.animate[data-duration="800"] {
  animation-duration: 0.8s;
}
.animate[data-duration="900"] {
  animation-duration: 0.9s;
}
.animate[data-duration="1000"] {
  animation-duration: 1s;
}
.animate[data-duration="1100"] {
  animation-duration: 1.1s;
}
.animate[data-duration="1200"] {
  animation-duration: 1.2s;
}
/* Top to bottom keyframes */
@keyframes top_to_bottom {
  0% {
    transform: translate3d(0, -100px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* Bottom to top keyframes */
@keyframes bottom_to_top {
  0% {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* Left to right keyframes */
@keyframes left_to_right {
  0% {
    transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* Right to left keyframes */
@keyframes right_to_left {
  0% {
    transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* Appear from center in keyframes */
@keyframes zoom_in {
  0% {
    transform: scale(0.5);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* Appear from center out keyframes */
@keyframes zoom_out {
  0% {
    transform: scale(1.5);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* Alpha keyframes */
@keyframes alpha_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
