/**
 *  Globals
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 37px;
  overflow: hidden;
}
body.common__no-animation___3z0Aj {
  overflow: auto;
}
@media (max-width: 425px) {
  body {
    font-size: 14px;
    min-height: 500px;
  }
}
a {
  border-bottom: 1px solid;
  color: #f70236;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  outline: none;
  text-decoration: none;
  border-bottom-color: transparent;
  opacity: 0.8;
  color: #f70236;
}
a:active,
a:visited,
a:focus {
  text-decoration: none;
  outline: none;
}
.common__font-russo-one___1NDnR {
  font-family: 'Russo One', sans-serif;
}
.common__corporate-color___1Ot1r {
  color: #f70236;
}
/**
 *  Bootsrtap customs
 */
.common__valign-middle___cry_g {
  white-space: nowrap;
}
.common__valign-middle___cry_g:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.common__valign-undo___3CcQd {
  white-space: normal;
}
.common__valign-undo___3CcQd:before {
  display: none;
}
/**
 *  Layout
 */
.common__layout___7Iy4l {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.common__header___20Ixb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 700px) {
  .common__header___20Ixb {
    position: static;
  }
}
.common__header__inner____4Hvo {
  padding: 0 50px;
}
@media (max-width: 700px) {
  .common__header__inner____4Hvo {
    padding: 0 20px;
  }
}
.common__header__logo___ffleY {
  margin: 0;
  height: 60px;
  /*&:hover{
        &:before{
            transform: rotate(120deg);
        }
    }*/
}
@media (max-width: 425px) {
  .common__header__logo___ffleY {
    height: 45px;
  }
}
.common__header__logo___ffleY:before {
  content: "";
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzOC4zOSAzMy4yOSI+CiAgPHBhdGggZD0iTTEzLjgyLDE5LjA5TDE5LjEzLDEuN2w1LjM4LDE3LjM3TDM2LjkyLDMyLjM2bC0xNy43My00TDEuNDcsMzIuNDRaIiBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSIjZjcwMjM2IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiLz4KPC9zdmc+Cg==) no-repeat;
  position: absolute;
  width: 60px;
  height: 70px;
  top: 0;
  left: 40px;
  color: #f70236;
}
@media (max-width: 425px) {
  .common__header__logo___ffleY:before {
    width: 45px;
    height: 45px;
    left: 34px;
  }
}
.common__header__logo___ffleY a {
  color: #000;
}
.common__header__logo___ffleY span {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  position: relative;
  display: block;
  background: #fff;
  font-size: 26px;
  line-height: 25px;
  margin-top: 17px;
}
@media (max-width: 425px) {
  .common__header__logo___ffleY span {
    margin-top: 12px;
    font-size: 19px;
    line-height: 21px;
  }
}
.common__header__social___25oBa {
  font-size: 25px;
  border-bottom: none;
  margin-top: 17px;
  display: inline-block;
}
@media (max-width: 425px) {
  .common__header__social___25oBa {
    margin-top: 8px;
    font-size: 20px;
  }
}
.common__header__social___25oBa:hover {
  color: #627aac;
}
.common__header__social___25oBa .common__icons_facebook___4FZ5B {
  position: relative;
  width: 27px;
  height: 27px;
  overflow: hidden;
  display: inline-block;
  color: #fff;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.common__header__social___25oBa .common__icons_facebook___4FZ5B:hover {
  opacity: 0.8;
}
.common__header__social___25oBa .common__icons_facebook___4FZ5B:before {
  z-index: 1;
  position: absolute;
  right: 5px;
  top: 5px;
  text-align: right;
}
.common__header__social___25oBa .common__icons_facebook___4FZ5B:after {
  content: "";
  background: #3b5998;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 425px) {
  .common__header__social___25oBa .common__icons_facebook___4FZ5B {
    width: 23px;
    height: 23px;
  }
}
.common__content___e3orM {
  width: 100%;
  top: 100%;
  position: absolute;
}
/**
 *  Slide
 */
.common__slide___ZpqJz {
  width: 100%;
  overflow: hidden;
}
.common__slide_hero___2kweD {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  white-space: nowrap;
  text-align: center;
}
.common__slide_hero___2kweD:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
@media (max-width: 700px) {
  .common__slide_hero___2kweD {
    position: static;
    white-space: normal;
    height: auto;
  }
  .common__slide_hero___2kweD:before {
    display: none;
  }
}
/**
 *  Hero slide
 */
.common__hero___1xzOe {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  white-space: normal;
  min-width: 100%;
}
.common__hero__title___2HkRz {
  font-size: 48px;
  font-weight: 400;
  display: inline-block;
  line-height: 35px;
  margin: 0 0 18px;
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: 1px;
  font-family: 'Russo One', sans-serif;
}
@media (max-width: 700px) {
  .common__hero__title___2HkRz {
    font-size: 28px;
    margin: 10px 0;
  }
}
.common__hero__title_404___3JXE9 {
  color: #607d8b;
}
.common__hero__subtitle___12buK {
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}
@media (max-width: 700px) {
  .common__hero__subtitle___12buK {
    font-size: 17px;
  }
}
.common__hero__hr___1mAg8 {
  width: 250px;
  border-top: 2px solid black;
  margin: 25px auto;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  .common__hero__hr___1mAg8 {
    border-top: 1px solid black;
    margin: 15px auto;
  }
}
/**
 * About section
 */
.common__about___3LwAO {
  margin-top: 50px;
  max-width: 1000px;
  padding: 0 20px;
}
@media (max-width: 700px) {
  .common__about___3LwAO {
    margin: 30px 0;
  }
}
.common__about__item___27AIE {
  padding: 0 30px;
}
@media (max-width: 700px) {
  .common__about__item___27AIE {
    padding: 0;
    margin: 0 0 15px;
  }
}
.common__about__digit___1709k {
  font-size: 72px;
  font-weight: 700;
  color: #607d8b;
}
@media (max-width: 700px) {
  .common__about__digit___1709k {
    font-size: 36px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    margin-right: 20px;
    width: 100px;
  }
}
@media (max-width: 425px) {
  .common__about__digit___1709k {
    width: 50px;
  }
}
@media (max-width: 700px) {
  .common__about__text___35bQd {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 300px;
  }
}
@media (max-width: 425px) {
  .common__about__text___35bQd {
    width: 200px;
  }
}
.common__animate___1l554 {
  opacity: 0;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.common__no-animation___3z0Aj .common__animate___1l554 {
  opacity: 1;
}
.common__start-animation___1t1LV {
  opacity: 1;
}
.common__start-animation___1t1LV.common__top-to-bottom___2xqa- {
  -webkit-animation-name: common__top_to_bottom___3wHBc;
          animation-name: common__top_to_bottom___3wHBc;
}
.common__start-animation___1t1LV.common__bottom-to-top___CSgRh {
  -webkit-animation-name: common__bottom_to_top___I_7RR;
          animation-name: common__bottom_to_top___I_7RR;
}
.common__start-animation___1t1LV.common__left-to-right___2C3ud {
  -webkit-animation-name: common__left_to_right___1w0Y_;
          animation-name: common__left_to_right___1w0Y_;
}
.common__start-animation___1t1LV.common__right-to-left___3H4o_ {
  -webkit-animation-name: common__right_to_left___3Njn2;
          animation-name: common__right_to_left___3Njn2;
}
.common__start-animation___1t1LV.common__zoom-in___1LmAh {
  -webkit-animation-name: common__zoom_in___1KSMI;
          animation-name: common__zoom_in___1KSMI;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.common__start-animation___1t1LV.common__zoom-out___-18Ej {
  -webkit-animation-name: common__zoom_out___3dJf4;
          animation-name: common__zoom_out___3dJf4;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.common__start-animation___1t1LV.common__alpha-anim___2AWdy {
  -webkit-animation-name: common__alpha_in___1dUSh;
          animation-name: common__alpha_in___1dUSh;
}
.common__animate___1l554[data-duration="100"] {
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
}
.common__animate___1l554[data-duration="200"] {
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}
.common__animate___1l554[data-duration="300"] {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}
.common__animate___1l554[data-duration="400"] {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.common__animate___1l554[data-duration="500"] {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.common__animate___1l554[data-duration="600"] {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
.common__animate___1l554[data-duration="700"] {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}
.common__animate___1l554[data-duration="800"] {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}
.common__animate___1l554[data-duration="900"] {
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
}
.common__animate___1l554[data-duration="1000"] {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.common__animate___1l554[data-duration="1100"] {
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
}
.common__animate___1l554[data-duration="1200"] {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}
/* Top to bottom keyframes */
@-webkit-keyframes common__top_to_bottom___3wHBc {
  0% {
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes common__top_to_bottom___3wHBc {
  0% {
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* Bottom to top keyframes */
@-webkit-keyframes common__bottom_to_top___I_7RR {
  0% {
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes common__bottom_to_top___I_7RR {
  0% {
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* Left to right keyframes */
@-webkit-keyframes common__left_to_right___1w0Y_ {
  0% {
    -webkit-transform: translate3d(-100px, 0, 0);
            transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes common__left_to_right___1w0Y_ {
  0% {
    -webkit-transform: translate3d(-100px, 0, 0);
            transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* Right to left keyframes */
@-webkit-keyframes common__right_to_left___3Njn2 {
  0% {
    -webkit-transform: translate3d(100px, 0, 0);
            transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes common__right_to_left___3Njn2 {
  0% {
    -webkit-transform: translate3d(100px, 0, 0);
            transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* Appear from center in keyframes */
@-webkit-keyframes common__zoom_in___1KSMI {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes common__zoom_in___1KSMI {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
/* Appear from center out keyframes */
@-webkit-keyframes common__zoom_out___3dJf4 {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes common__zoom_out___3dJf4 {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
/* Alpha keyframes */
@-webkit-keyframes common__alpha_in___1dUSh {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes common__alpha_in___1dUSh {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
